In [19]:
import pandas as pd
import seaborn as sns

In [4]:
CSV_FILE = '../app/ecommerce_data_with_trends.csv'

In [5]:
df = pd.read_csv(CSV_FILE)

In [22]:
df

,transaction_id,timestamp,customer_id,customer_name,city,customer_type,product_name,category,price,quantity,total_amount
0,TX_89a20095-f7be-4bc1-bb58-a305e3fc8313,2023-10-30 03:01:46.571042,6933,David Hays,New Sabrina,B2C,Furniture Product_10,Home & Kitchen > Furniture,246.08,4,984.32
1,TX_a6b15a50-47b9-428c-b297-ce365acb061a,2023-10-30 03:06:07.918040,9328,Adam Oconnell,East Katherineton,B2C,Non-Fiction Product_15,Books > Non-Fiction,792.30,4,3169.20
2,TX_abdde2cb-3752-4399-84f4-c91c098b195f,2023-10-30 03:06:28.475922,6766,Jerry Brown,Lukefort,B2B,Bedding Product_1,Home & Kitchen > Bedding,685.73,40,27429.20
3,TX_ba162310-0807-4dee-818f-fa014f9880ef,2023-10-30 03:06:59.374222,9111,Craig Martinez,South Leonard,B2B,Shoes Product_11,Fashion > Shoes,404.96,96,38876.16
4,TX_60ec44fd-2172-4ffa-8c67-4b399c59ed7c,2023-10-30 03:08:29.580560,1763,David Wood,Jacksonstad,B2B,Supplements Product_5,Health & Personal Care > Supplements,927.67,35,32468.45
...,...,...,...,...,...,...,...,...,...,...,...
999995,TX_911ba8c9-524d-4045-98c5-0292af5f4a1f,2024-10-29 08:51:35.827943,4262,Kirk Leon,Marthaberg,B2C,Non-Fiction Product_19,Books > Non-Fiction,566.85,1,566.85
999996,TX_df06e506-b8f9-443e-8e80-74603d8af594,2024-10-29 08:52:27.861710,1908,Cory Delgado,South Vanessa,B2C,Kitchen Appliances Product_14,Home & Kitchen > Kitchen Appliances,17.58,2,35.16
999997,TX_7ea2aafb-fa0e-442b-829d-3364c919fb33,2024-10-29 08:53:06.375401,6303,Karen Brown,South Michael,B2B,Personal Care Product_6,Health & Personal Care > Personal Care,663.10,33,21882.30
999998,TX_53befce1-9b3b-4c44-8f3d-cdce029b46e0,2024-10-29 08:53:22.705214,379,Erika Foster,Zacharybury,B2C,Accessories Product_15,Fashion > Accessories,900.80,5,4504.00
999999,TX_db410f38-e49b-4773-9db0-e01d92944e07,2024-10-29 08:55:04.980340,276,Stacie Costa,North Lauraland,B2C,Audio Product_9,Electronics > Audio,487.69,1,487.69

In [7]:
df.dtypes

transaction_id     object
timestamp          object
customer_id         int64
customer_name      object
city               object
customer_type      object
product_name       object
category           object
price             float64
quantity            int64
total_amount      float64
dtype: object

In [30]:
numerical_cols = ["price", "total_amount", "quantity"]

mean = df[["price", "total_amount", "quantity"]].mean(numeric_only=True)
count = df.groupby("customer_id").count(numeric_only=True)

TypeError: GroupBy.count() got an unexpected keyword argument 'numeric_only'

In [29]:
count

customer_id     1000000
price           1000000
quantity        1000000
total_amount    1000000
dtype: int64